@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&display=swap');

body{
    background-color: rgb(246, 236, 236);
}

.display{
    display: flex;
}

.square{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    padding-right: 3%;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.firstpizza{
    -webkit-mask-image:-webkit-linear-gradient(180deg, #FFFFFF 24.6%, rgba(255, 255, 255, 0.94) 37.11%, rgba(255, 255, 255, 0.9) 46.89%, rgba(255, 255, 255, 0) 82.49%);
    width: 123%;
    margin-left: -15%;
    margin-top: -15%;
}

.display1{
    width: 50%;
}

nav{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    
}

.first{
    margin-top: 10%;
    margin-left: 5%;
    
}

h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;

}
.menu{
    border: 1px solid #BDBDBD;
    border-radius: 180px 180px 30px 30px;
    margin: 5%;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 2%;

}
.title{
    text-align: center;
}

.price{
    color: #05A84B;
    text-align: center;
}
.desc{
    font-weight: 300 !important;
    font-size: 14px;
    color: #333333 !important;
    text-align: center;
}
#pizzaSelect{
    width: 90%;
    margin-left: 5%;
    border: 1px solid #BDBDBD;
    border-radius: 50px !important;
    padding: 3%;

    
}

.tomate2{
    margin-top: -6%;
    margin-left:-7%;
    position: relative;
    z-index: 2;
}

.feuille2{
    margin-left: -12%;
}

.absolut{
    position: absolute;

}

.tomate{
    margin-left: 64%;
    width: 10%;
    margin-top: -2%;
}

.feuille{
    margin-left: 30%;
    margin-top: -2%;
}

.imageMenu{
    width: 70%;
    margin-left: 12%;
    margin-top: 10%;
}

.order{
    margin: 0;
    width: 90%;
    text-align: center;
    margin-left:5%;
    margin-top: 5%;
}

h1{

    font-family: 'Fira Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
}

.second{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}

.top{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    margin-top: -7% ;
    font-size: 36px;
}

.logo{
    margin-left: -1%;
    margin-top: 1.5%;
}

button{
    background-color: #EC0000;
    width: 103px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-family: 'Fira Sans', sans-serif ;
    font-size: 16px;
}

.button{
    
    margin: 0 !important;
}

ul{
    list-style: none;
    display: flex;

}

li{
    margin-left: 4%;
}

.push{
    margin-left: auto;
}

.navbar{
    margin-top: 2%;
}
